/*Estilos migas de pan*/
nav[aria-label="breadcrumb"] {
    padding: 10px 15px;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.breadcrumb-item {
    margin-right: 10px;
}

.breadcrumb-link {
    text-decoration: none;
    transition: color 0.3s;
}

/* Estilo para el enlace de la primera página (inicio) */
.breadcrumb-item:first-child .breadcrumb-link {
    color: #6c757d; 
}

.breadcrumb-item:first-child .breadcrumb-link:hover {
    color: #5a6268; 
}

/* Estilo para el enlace de la página actual */
.breadcrumb-item.active .breadcrumb-link {
    color: #336B56; 
}

/* Estilo general para los enlaces de las páginas intermedias */
.breadcrumb-item:not(:first-child):not(.active) .breadcrumb-link {
    color: #6c757d; 
}

.breadcrumb-item:not(:first-child):not(.active) .breadcrumb-link:hover {
    color: #5a6268; 
}


.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
    margin: 0 8px;
    color: #6c757d;
}

.breadcrumb-item.active {
    color: #6c757d; 
}

/*Fin Estilos migas de pan*/

/*Estilos paneles de control*/
.list-group-item.active {
    background-color: #3D8168 !important;
    border-color: #346e59 !important;
    color: white !important;
}

/*Fin estilos paneles de control*/

/*Estilos inputs de formularios*/
.form-control:focus {
    border-color: #3D8168 !important;
    box-shadow: 0 0 5px rgba(61, 129, 104, 0.5) !important;
    outline: none !important;
}

.form-select {
    border: 1px solid #3D8168; 
    transition: all 0.3s ease-in-out;
}

.form-select:hover {
    border-color: #3D8168;
    box-shadow: 0 0 5px rgba(61, 129, 104, 0.5);
}

.form-select:focus {
    border-color: #3D8168;
    box-shadow: 0 0 8px rgba(61, 129, 104, 0.75);
}

.form-select:active {
    background-color: #E8F5E9;
}

.form-select option {
    color: black;
    background-color: white;
}

.form-select option:hover {
    background-color: #3D8168 !important;
    color: white;
}

/*Fin estilos inputs de formularios*/

::-webkit-scrollbar {
    width: 30px; 
    height: 10px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px; 
}


::-webkit-scrollbar-thumb {
    background: #3D8168; 
    border-radius: 20px; 
    border: 2px solid #f1f1f1; 
}

/* Hover en el thumb */
::-webkit-scrollbar-thumb:hover {
    background: #2b5e4c; 
}

/* Scrollbar en Firefox */
* {
    scrollbar-width:thin; 
    scrollbar-color: #3D8168 #f1f1f1;
}

/*Fin scrollbar*/



html, body {
    height: 100%;
    margin: 0;
   
}

.container {
    flex: 1;
}